*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url(./img/bg.jpeg);
    height: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#gameH1 {
    color: black;
    font-size: 80px;
}

#startButton {
    min-width: 100px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 400px;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 4px 5px 0px;
    border-bottom: 2px solid;
    border-right: 1px solid;
    margin: 0;
    position: absolute;
    top: 45%;
    transform: translate(-1%, -3%);
}

#startButton:hover {
    background-color: lightgray;
    box-shadow: 3px 3px 1px;
    border-bottom: 2px solid;
    transform: translate(3px, 4px);
    transition: all 0.1s ease-in;
}

#startButton:active {
    box-shadow: none;
    border-bottom-width: 2px;
    transform: translate(3px, 4px);
}

#endButton {
    min-width: 100px;
    height: 50px;
    margin-bottom: 150px;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    outline: none;
    font-weight: 400px;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 4px 5px 0px;
    border-bottom: 2px solid;
    border-right: 1px solid;
    position: relative;
    top: 45%;
    transform: translate(-1%, -3%);
}

#endButton:link {
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 4px 5px 0px black;
}

#endButton:visited {
    color: black;
    text-decoration: none;
}

#endButton:active {
    box-shadow: none;
    border-bottom-width: 2px;
    transform: translate(3px, 4px);
}

#endButton:hover {
    color: black;
    background-color: lightgrey;
    box-shadow: 3px 3px 1px black;
    border-bottom: 2px solid;
    transform: translate(-1%, -1%);
    transition: all 0.1s ease-in;
}

#endContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.topContainer {
    color: white;
    font-size: xx-large;
}

.bottomContainer {
    display: none;
    color: white;
    width: 100%;
    text-align: center;
}

.playerContainer {
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px;
    width: 400px;
    height: 320px;
}

.playerInformation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerLogo {
    margin-right: 1vw;
}

.playerH1 {
    text-align: center;
    color: white;
}

.logo {
    height: 50px;
    width: 50px;
}

.winningLogo {
    display: none;
    text-align: center;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.playerScore {
    color: white;
}

.gameSelections {
    display: flex;
    justify-content: center;
}

.gameSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 3px;
    box-shadow: 4px 5px 0px black;
    border-bottom: 2px solid;
    border-right: 1px solid;
    transform: translate(-1%, -3%);
}

.gameSelection:hover {
    background-color: lightgrey;
    box-shadow: 3px 3px 1px;
    border-bottom: 2px solid;
    transform: translate(1%, -1%);
    transition: all 0.1s ease-in;
}

.gameSelection:active {
    box-shadow: none;
    transform: translate(3px, 4px);
}

.selection {
    height: 50px;
    width: 50px;
}

.gameSelectiontext {
    text-transform: uppercase;
    font-weight: bold;
}

.winningLogoDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gameUpdates {
    color: black;
    font-size: 25px;
}

/* Extra small devices */
@media only screen and (max-width: 600px){
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #endcontainer {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .gamecontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    
    .topcontainer {
        color: white;
        font-size: medium;
    }
    
    .bottomcontainer {
        display: none;
        color: white;
        width: 100%;
        text-align: center;
    }
    
    .playercontainer {
        background-color: rgb(70, 70, 70);
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 10px;
        width: 300px;
        height: 250px;
    }
    
    .playerinformation {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .playerlogo {
        margin-right: 1vw;
    }
    
    .playerh1 {
        text-align: center;
        color: white;
    }
    
    .logo {
        height: 50px;
        width: 50px;
    }
    
    .winninglogo {
        display: none;
        text-align: center;
        height: 100px;
        width: 100px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .playerscore {
        color: white;
    }
    
    .gameselections {
        display: flex;
        justify-content: center;
    }
    
    .gameselection {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        margin: 5px;
        border-radius: 3px;
        box-shadow: 4px 5px 0px black;
        border-bottom: 2px solid;
        border-right: 1px solid;
        transform: translate(-1%, -3%);
    }
    
    .gameselection:hover {
        background-color: lightgrey;
        box-shadow: 3px 3px 1px;
        border-bottom: 2px solid;
        transform: translate(1%, -1%);
        transition: all 0.1s ease-in;
    }
    
    .gameselection:active {
        box-shadow: none;
        transform: translate(3px, 4px);
    }
    
    .selection {
        height: 25px;
        width: 25px;
    }
    
    .gameselectiontext {
        text-transform: uppercase;
        font-weight: bold;
    }

    .winninglogodiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}